// PRIMARY
$color-primary-1:  #FFFAEB;
$color-primary-2:  #FCEFC7;
$color-primary-3:  #F8E3A3;
$color-primary-4:  #F9DA8B;
$color-primary-5:  #F7D070;
$color-primary-6:  #E9B949;
$color-primary-7:  #C99A2E;
$color-primary-8:  #A27C1A;
$color-primary-9:  #7C5E10;
$color-primary-10: #513C06;

// NEUTRAL
$color-neutral-1:  #F7F7F7;
$color-neutral-2:  #E1E1E1;
$color-neutral-3:  #CFCFCF;
$color-neutral-4:  #B1B1B1;
$color-neutral-5:  #9E9E9E;
$color-neutral-6:  #7E7E7E;
$color-neutral-7:  #626262;
$color-neutral-8:  #515151;
$color-neutral-9:  #3B3B3B;
$color-neutral-10: #222222;

// SUPPORTING
$color-supporting-red-1:  #FFE3E3;
$color-supporting-red-2:  #FFBDBD;
$color-supporting-red-3:  #FF9B9B;
$color-supporting-red-4:  #F86A6A;
$color-supporting-red-5:  #EF4E4E;
$color-supporting-red-6:  #E12D39;
$color-supporting-red-7:  #CF1124;
$color-supporting-red-8:  #AB091E;
$color-supporting-red-9:  #8A041A;
$color-supporting-red-10: #610316;

$color-supporting-green-1:  #EFFCF6;
$color-supporting-green-2:  #C6F7E2;
$color-supporting-green-3:  #8EEDC7;
$color-supporting-green-4:  #65D6AD;
$color-supporting-green-5:  #3EBD93;
$color-supporting-green-6:  #27AB83;
$color-supporting-green-7:  #199473;
$color-supporting-green-8:  #147D64;
$color-supporting-green-9:  #0C6B58;
$color-supporting-green-10: #014D40;

$color-supporting-blue-1:  #E3F8FF;
$color-supporting-blue-2:  #B3ECFF;
$color-supporting-blue-3:  #81DEFD;
$color-supporting-blue-4:  #5ED0FA;
$color-supporting-blue-5:  #40C3F7;
$color-supporting-blue-6:  #2BB0ED;
$color-supporting-blue-7:  #1992D4;
$color-supporting-blue-8:  #127FBF;
$color-supporting-blue-9:  #0B69A3;
$color-supporting-blue-10: #035388;

$color-supporting-pink-1:  #FFE3EC;
$color-supporting-pink-2:  #FFB8D2;
$color-supporting-pink-3:  #FF8CBA;
$color-supporting-pink-4:  #F364A2;
$color-supporting-pink-5:  #E8368F;
$color-supporting-pink-6:  #DA127D;
$color-supporting-pink-7:  #BC0A6F;
$color-supporting-pink-8:  #A30664;
$color-supporting-pink-9:  #870557;
$color-supporting-pink-10: #620042;


