// Typography
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Titillium+Web:600,700,900');

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 32px;
$font-size-8: 48px;

$font-family-header: 'Titillium Web', sans-serif;
$font-weight-header-light: 600;
$font-weight-header-normal: 700;
$font-weight-header-bold: 900;

$font-family-body: 'Montserrat', sans-serif;
$font-weight-body-normal: 500;
$font-weight-body-bold: 700;
