@import url(https://fonts.googleapis.com/css?family=Montserrat:500,700|Titillium+Web:600,700,900);* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #E4E7EB;
  color: #1F2933;
  font-size: 16px;
  margin: 0;
}

@media screen and (max-width: 967px) {
  body {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1.header-font,
h2.header-font,
h3.header-font,
h4.header-font,
h5.header-font,
h6.header-font {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
}

.site-header {
  background: #1F2933;
  padding: 16px;
}

.site-header .header-logo {
  min-height: 40px;
  max-height: 40px;
}

