.site-header {

    background: $color-neutral-10;
    padding: $spacing-4 0;

    @media screen and (max-width: $breakpoint-max-m) {
        text-align: center;
    }

    .header-logo {
        min-height: 40px;
        max-height: 40px;
    }

}
