* {
    color: unset;
    font-family: $font-family-body;
    font-weight: unset;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: $color-neutral-2;
    color: $color-neutral-10;
    font-size: $font-size-3;
    margin: 0;


    @media screen and (max-width: 967px){
        font-size: $font-size-2;
    }
}



a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

    &.header-font {
        font-family: $font-family-header;
        font-weight: $font-weight-header-bold;
        margin: $spacing-4 0;

        @media screen and (max-width: $breakpoint-max-m) {
            text-align: center;
        }

        span {
            font-family: $font-family-header;
            font-weight: $font-weight-header-bold;
        }
    }
}

h1 {
    font-size: $font-size-7;
}

.eol-notice {
    align-items: center;
    background: $color-supporting-red-8;
    border-radius: $border-radius-full;
    color: $color-neutral-1;
    display: flex;
    flex-direction: row;
    font-weight: $font-weight-body-bold;
    padding: $spacing-3 $spacing-3;
    margin-top: $spacing-4;
    text-align: center;

    @media screen and (min-width: $breakpoint-min-l) {
        padding: $spacing-2 $spacing-3;
    }

    i {
        margin-right: $spacing-2;

        @media screen and (max-width: $breakpoint-max-l) {
            font-size: $font-size-4;
            margin-right: $spacing-4;
        }
    }
}

.uc-words {
    text-transform: capitalize;
}
